## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
<link href="/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>

<!-- Menubar -->

<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

<div class="container-fluid"><!-- This keeps the margins nice -->
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-inverse navbar-fixed-side">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="${abs_link('/')}">
                        <span id="blog-title">${blog_title}</span>
                    </a>
                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        % if false:
                        <li>
                            <div class="g-person" data-width="273px" data-href="//plus.google.com/u/0/103113673902796202116" data-theme="dark" data-layout="landscape" data-rel="author"></div>
                        </lu>
                        %endif

                        ${base.html_navigation_links()}

                        %if not post:
                            <li class="navbar-content">
                                <h3>Tags</h3>
                            </li>
                            <li class="navbar-empty">
                                <div id="tag_cloud_left_container" style="line-height: 18px !important;"></div>
                            </li>
                            <li class="navbar-block"></li>
                        %endif

                        %if post and not post.source_link().startswith('/stories/'):
                            <li class="navbar-content">
                                <h3>Related posts</h3>
                            </li>
                            <%
                                related_path = post.source_path + ".related.html"
                                import codecs

                                try:
                                    with codecs.open(related_path, 'r', 'utf8') as f:
                                        related_text = f.read()
                                        f.close()
                                except IOError as e:
                                    related_text = "Not generated"
                            %>

                            ${related_text}
                            <li class="navbar-block"></li>
                        %endif

                        <li class="wicht-navbar-right">
                            <a target="_blank" title="Follow @wichtounet on Twitter" href="https://twitter.com/wichtounet">
                                <img src="/assets/img/twitter.svg" alt="Follow @wichtounet on Twitter" />
                            </a>
                        </li>

                        <li class="wicht-navbar-right">
                            <a target="_blank" title="Follow +BaptisteWicht on Google+" href="https://plus.google.com/+BaptisteWicht">
                                <img src="/assets/img/google_plus.svg" alt="Follow +BaptisteWicht on Google+" />
                            </a>
                        </li>


                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div> <!-- col -->
        <div class="col-sm-9 col-lg-10">
            <div id="content" />
            <%block name="content"></%block>
        </div> <!-- col -->
    </div><!-- row  -->
</div><!-- container-fluid -->

<!-- End of Menubar -->

<!-- Footer -->

<footer>
    ${content_footer}
    % if not hide_sourcelink:
        <ul class="footer_inline_ul">
            <%block name="sourcelink"></%block>
        </ul>
    %endif
</footer>

<!-- Late loading stuff  -->

%if not post or not post.source_link() == '/stories/search.md':
    ${base.late_load_js()}
%endif

% if not post:
    <script type="text/javascript">
      $(document).ready(function() {
        $.getJSON("/assets/js/tx3_tag_cloud.json", function(data){
            var items = [];
            $.each(data, function(key, val){
                var count = val[0];
                var url = val[1];
                var posts = val[2];

                if(count > 9){
                    items.push("<li data-weight='" + count + "'><a href='" + url + "'>" + key + "</a></li>");
                }
            });

            $("<ul/>", {
                "id": "tag_cloud_left",
                html: items.join("")
            }).appendTo("#tag_cloud_left_container");

            $("#tag_cloud_left").tx3TagCloud({
                multiplier: 0.6 // default multiplier is "1"
            });
        });
      });
    </script>
%endif

% if false:
<!-- Google platform JS -->

<%block name="extra_js">
<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
</%block>
%endif

% if annotations and post and not post.meta('noannotations'):
    ${notes.code()}
% elif not annotations and post and post.meta('annotations'):
    ${notes.code()}
% endif

${body_end}

</body>
</html>
