## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
<link href="/favicon.ico" rel="icon" type="image/x-icon">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-2175227-7', 'auto');
  var metas = document.getElementsByTagName('meta'), tagsList = [];
  for (var i=0; i<metas.length; i++) {
    if (metas[i].getAttribute('property') == 'article:tag') {
      tagsList.push( metas[i].getAttribute('content'));
    }
  }
  ga('set', 'dimension1', tagsList.join('|'));
  ga('send', 'pageview');
</script>
</head>
<body>

<!-- Menubar -->

<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

<div class="container-fluid"><!-- This keeps the margins nice -->
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-inverse navbar-fixed-side">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="${abs_link('/')}">
                        <span id="blog-title">${blog_title}</span>
                    </a>
                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        ${base.html_navigation_links()}

                        %if post and not post.source_link().startswith('/stories/'):
                            <li class="navbar-content">
                                <h3>Related posts</h3>
                            </li>
                            <%
                                related_path = post.source_path + ".related.html"
                                import codecs

                                try:
                                    with codecs.open(related_path, 'r', 'utf8') as f:
                                        related_text = f.read()
                                        f.close()
                                except IOError as e:
                                    related_text = "Not generated"
                            %>

                            ${related_text}
                            <li class="navbar-block"></li>
                        %endif

                        <li class="wicht-navbar-right">
                            <a target="_blank" title="Follow @wichtounet on Twitter" href="https://twitter.com/wichtounet">
                                <img src="/assets/img/twitter.png" alt="Follow @wichtounet on Twitter" />
                            </a>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div> <!-- col -->
        <div class="col-sm-9 col-lg-10">
            <div id="content" />
            <%block name="content"></%block>
        </div> <!-- col -->
    </div><!-- row  -->
</div><!-- container-fluid -->

<!-- End of Menubar -->

<!-- Footer -->

<footer>
    ${content_footer}
    % if not hide_sourcelink:
        <ul class="footer_inline_ul">
            <%block name="sourcelink"></%block>
        </ul>
    %endif
</footer>

<!-- Late loading stuff  -->

%if not post or not post.source_link() == '/stories/search.md':
    ${base.late_load_js()}
%endif

<!-- Google platform JS -->

<%block name="extra_js">
% if false:
<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
%endif
</%block>

% if annotations and post and not post.meta('noannotations'):
    ${notes.code()}
% elif not annotations and post and post.meta('annotations'):
    ${notes.code()}
% endif

${body_end}

</body>
</html>
