## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="content">
    <h1><a class="u-url" href="#">${title}</a></h1>
    <div id="tag_cloud_main"></div>
</%block>

<%block name="extra_js">
  ${parent.extra_js()}
  <script type="text/javascript">
      $(document).ready(function() {
        $.getJSON("/assets/js/tx3_tag_cloud.json", function(data){
            var items = [];
            $.each(data, function(key, val){
                var count = val[0]
                var url = val[1]
                var posts = val[2]
                items.push("<li data-weight='" + count + "'><a href='" + url + "'>" + key + "</a></li>");
            });

            $("<ul/>", {
                "id": "tagcloud",
                html: items.join("")
            }).appendTo("#tag_cloud_main");

            $("#tagcloud").tx3TagCloud({
                multiplier: 3 // default multiplier is "1"
            });
        });
      });
  </script>
</%block>
