## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="bootstrap" file="bootstrap_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
<!DOCTYPE html>
<html
%if comment_system == 'facebook':
xmlns:fb="http://ogp.me/ns/fb#"
%endif
lang="${lang}">
<head>
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ${bootstrap.html_head()}
    <%block name="extra_head">
    </%block>
    % if annotations and post and not post.meta('noannotations'):
        ${notes.css()}
    % elif not annotations and post and post.meta('annotations'):
        ${notes.css()}
    % endif
<!--
    <link rel="stylesheet" type="text/css" href="/assets/css/tipuesearch.css">
-->
    ${extra_head_data}
</head>
<body>

<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid"><!-- This keeps the margins nice -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${abs_link('/')}">${blog_title}</a>
        </div><!-- /.navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                ${bootstrap.html_navigation_links()}
            </ul>
            <!--
            <span class="navbar-form pull-left">
                <input type="text" id="tipue_search_input">
            </span>
            -->
            <ul class="nav navbar-nav navbar-right">
                <%block name="belowtitle">
                %if len(translations) > 1:
                    <li>${bootstrap.html_translations()}</li>
                %endif
                </%block>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- End of Menubar -->

<div class="body-container">

    <!-- Sidebar -->

    <div class="left-sidebar">
        %if not post:
            <div class="left-sidebar-widget">
                <h3>Welcome to my blog</h3>
                <div class="left-sidebar-widget-content">
                    <p>
                        I'm writing about C++, Linux, Gentoo, Home Servers, etc...
                    </p>
                    <div class="g-person" data-width="275" data-href="//plus.google.com/u/0/103113673902796202116" data-theme="dark" data-layout="landscape" data-rel="author"></div>
                </div>
            </div>

            <div class="left-sidebar-widget">
                <h3>Tags</h3>
                <div class="left-sidebar-widget-content">
                    <div id="tags_container">
                        <canvas width="275" height="250" id="tags_canvas">
                            <p>Anything in here will be replaced on browsers that support the canvas element</p>
                        </canvas>
                    </div>
                </div>
            </div>
        %elif post:
            <div class="left-sidebar-widget">
                <div class="left-sidebar-widget-content">
                    <div class="g-person" data-width="275" data-href="//plus.google.com/u/0/103113673902796202116" data-theme="dark" data-layout="landscape" data-rel="author"></div>
                </div>
            </div>
        %endif
        
        <div class="left-sidebar-widget">
            <h3>Recent comments</h3>
            <div class="left-sidebar-widget-content">
                <div id="recentcomments" class="dsq-widget">
                    <script type="text/javascript" src="http://blogwichtounet.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=28&excerpt_length=150"></script>
                </div>
            </div>
        </div>
        
        <div class="left-sidebar-widget">
            <h3>Blogroll</h3>
            <div class="left-sidebar-widget-content">
                <ul>
                    <li><a target="_blank" href="http://www.asjava.com/">AsJava.com : Java Tutorial</a></li>
                    <li><a target="_blank" href="http://www.mkyong.com/">Mkyong : Java Tutorials</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Content -->

    <div class="container">
        %if post:
            <div class="body-content" style="margin-top: -75px;">
        %elif not post:
            <div class="body-content">
        %endif

            <!-- <div id="tipue_search_content" style="margin-left: auto; margin-right: auto; padding: 20px;"></div> -->

            <div class="row">
                <%block name="content"></%block>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->

<footer>
    ${content_footer}
    % if not hide_sourcelink:
        <ul class="footer_inline_ul">
            <%block name="sourcelink"></%block>
        </ul>
    %endif
</footer>

${bootstrap.late_load_js()}

% if not post:
    <script type="text/javascript">
      $(document).ready(function() {
        jQuery.getJSON('/assets/js/tag_cloud_data.json', function(data) {
            var items = [];

            $.each(data, function(key, val) {
                items.push('<li><a href="' + val[1] +'" '+'data-weight="'+val[0]+'"'+'>' + key + '</a></li>');
            });

            $('<div/>', {
                'id': 'tags',
                html: '<ul>' + items.join('') + '</ul>'
            }).appendTo('body');

            if(!$('#tags_canvas').tagcanvas({
                textColour: '#FFFFFF',
                outlineColour: '#ff00ff',
                reverse: true,
                depth: 0.8,
                maxSpeed: 0.05,
                weight: true,
                weightFrom: "data-weight",
                weightSizeMin: 8,
                weightSizeMax: 24
            },'tags')) {
                //something went wrong, hide the canvas container
                $('#tags_container').hide();
            }});
        });
    </script>
%endif
    
<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>

${base.html_social()}

<!-- Search -->

<!--
    <script type="text/javascript" src="/assets/js/tipuesearch_set.js"></script>
    <script type="text/javascript" src="/assets/js/tipuesearch.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tipue_search_input').tipuesearch({
            'mode': 'json',
            'contentLocation': '/assets/js/tipuesearch_content.json',
            'showUrl': false
            });
            });
    </script>
-->

<script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>

<%block name="extra_js"></%block>

% if annotations and post and not post.meta('noannotations'):
    ${notes.code()}
% elif not annotations and post and post.meta('annotations'):
    ${notes.code()}
% endif

${body_end}

</body>
</html>
